[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pavangitgub
[access "refs/for/refs/*"]
	read = group user/pavangitgub
	push = group user/pavangitgub
	label-Code-Review = -2..+2 group user/pavangitgub
	label-Verified = -1..+1 group user/pavangitgub
	rebase = group user/pavangitgub
	removeReviewer = group user/pavangitgub
	submit = group user/pavangitgub
[access "refs/heads/*"]
	read = group user/pavangitgub
	create = group user/pavangitgub
	push = +force group user/pavangitgub
	pushMerge = group user/pavangitgub
[access "refs/tags/*"]
	push = +force group user/pavangitgub
	pushTag = group user/pavangitgub
	pushSignedTag = group user/pavangitgub
